include requirements.txt
include test-requirements.txt
include README.md
include package_readme.rst
graft conf
graft adjutant/api/v*/templates
graft adjutant/notifications/templates
graft adjutant/notifications/*/templates

