pbr>=5.2.0

Django>=2.2,<2.3
Babel>=2.6.0
decorator>=4.4.0
django-rest-swagger>=2.2.0
djangorestframework>=3.9.4
jsonfield>=2.0.2
keystoneauth1>=3.14.0
keystonemiddleware>=6.0.0
python-cinderclient>=4.1.0
python-keystoneclient>=3.19.0
python-neutronclient>=6.12.0
python-novaclient>=14.0.0
python-octaviaclient>=1.8.0
python-troveclient>=6.0.1
six>=1.12.0
confspirator>=0.2.2
